<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css">
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideascape - four oh four</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">four oh four</h1>
            <div class="content">
                <p>the page you were looking for couldn't be found :(</p>
                <a href="/" class="button is-link has-background-primary-dark">go back home</a>
            </div>
        </div>
    </section>
</body>
</html>