<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideascape</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Ideascape - {{ category | title }}</h1>

            <div class="content">
                <p>{{ {"programming": "Language", "writing": "Genre", "hackathon": "Category", "music": "Genre", "art": "Medium", "design": "Category", "photography": "Genre", "film": "Genre"}[category] }}: {{ {"programming": lang, "writing": genre, "hackathon": sector, "music": genre, "art": medium, "design": sector, "photography": genre, "film": genre}[category] }}</p>
                <p>Idea: {{ idea }}</p>
                <p>or, get an idea for one of the following:</p>
                <div class="buttons are-centered">
                    {% if not category == "programming" %}
                        <a href="/" class="button is-link has-background-primary-dark">programming</a>
                    {% endif %}
                    {% if not category == "film" %}
                        <a href="/film" class="button is-link has-background-primary-dark">film & video</a>
                    {% endif %}
                    {% if not category == "photography" %}
                        <a href="/photography" class="button is-link has-background-primary-dark">photography</a>
                    {% endif %}
                    {% if not category == "design" %}
                        <a href="/design" class="button is-link has-background-primary-dark">design</a>
                    {% endif %}
                    {% if not category == "writing" %}
                        <a href="/writing" class="button is-link has-background-primary-dark">writing</a>
                    {% endif %}
                    {% if not category == "art" %}
                        <a href="/art" class="button is-link has-background-primary-dark">art</a>
                    {% endif %}
                    {% if not category == "music" %}
                        <a href="/music" class="button is-link has-background-primary-dark">music</a>
                    {% endif %}
                    {% if not category == "hackathon" %}
                        <a href="/hackathon" class="button is-link has-background-primary-dark">hackathon</a>
                    {% endif %}
                    <a href="javascript:window.location.reload(true)" class="button is-link has-background-primary-dark">get another {{ category }} idea</a>
                </div>
            </div>
        </div>
    </section>
</body>


</html>