<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css">
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideascape</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Ideascape - {{ {"programming": lang, "python": lang, "c++": lang, "rust": lang, "lua": lang, "java": lang, "javascript": lang, "swift": lang, "ruby": lang, "typescript": lang, "kotlin": lang, "c#": lang, "writing": genre, "hackathon": sector, "music": genre, "art": medium, "design": sector, "photography": genre, "film": genre}[category] }}</h1>

            <div class="content">
                <p>{{ {"programming": "Language", "python": "Language", "c++": "Language", "rust": "Language", "lua": "Language", "java": "Language", "javascript": "Language", "swift": "Language", "ruby": "Language", "php": "Language", "typescript": "Language", "kotlin": "Language", "c#": "Language", "writing": "Genre", "hackathon": "Category", "music": "Genre", "art": "Medium", "design": "Category", "photography": "Genre", "film": "Genre"}[category] }}: {{ {"programming": lang, "python": lang, "c++": lang, "rust": lang, "lua": lang, "java": lang, "javascript": lang, "swift": lang, "ruby": lang, "typescript": lang, "kotlin": lang, "c#": lang, "writing": genre, "hackathon": sector, "music": genre, "art": medium, "design": sector, "photography": genre, "film": genre}[category] }}</p>
                <p>Idea: {{ idea }}</p>
                <p>or, get an idea for one of the following:</p>
                <div class="buttons are-centered">
                    {% for i in ("programming", "film", "photography", "design", "writing", "art", "music") %}
                        {% if not category == i %}
                            <a href="/{% if i != 'programming' %}{{ i }}{% endif %}" class="button is-link has-background-primary-dark">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="javascript:window.location.reload(true)" class="button is-link has-background-primary-dark">get another {{ category }} idea</a>
                </div>
                {% if category in ("programming", "python", "c++", "rust", "lua", "java", "javascript", "swift", "ruby", "typescript", "kotlin", "c#") %}
                    <p>or specifically:</p>
                    <div class="buttons are-centered">
                        {% for lang in ("python", "c++", "rust", "lua", "java", "javascript", "swift", "ruby", "typescript", "kotlin", "c#") %}
                            {% if not category == lang %}
                                <a href="/{{ lang }}" class="button is-link has-background-primary-dark">{{ lang }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <noscript>
        <img src="https://shynet.radi8.dev/ingress/ba44a1a8-84a1-44bc-81d8-1268ff042242/pixel.gif">
    </noscript>
    <script defer src="https://shynet.radi8.dev/ingress/ba44a1a8-84a1-44bc-81d8-1268ff042242/script.js"></script>
</body>


</html>